<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="DB2Tables" targetRuntime="MyBatis3DynamicSql">
        <property name="javaFileEncoding" value="UTF-8"/>
        <plugin type="com.github.surgeon.mbg.plugins.LombokPlugin"/>
        <plugin type="com.github.surgeon.mbg.plugins.SwaggerPlugin"/>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://laysan.com:3306/test"
                        userId="root"
                        password="123456">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
            <property name="useJSR310Types" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.github.surgeon.dict.dataobject" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
            <property name="rootClass" value="com.github.surgeon.base.BaseDO"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mybatis.mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.github.surgeon.dict.repository"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="rootInterface" value="com.github.surgeon.base.BaseMapper"/>
        </javaClientGenerator>

        <table tableName="sys_dict" domainObjectName="DictDO"/>
        <table tableName="sys_dict_detail" domainObjectName="DictDetailDO"/>

    </context>
</generatorConfiguration>